<div class="container col-lg-8 mt-4">
    
    <form class="mt-3">
<div class="form-group row m-0">
    <label class="col-sm-3 col-form-labe">
        نام کاربری:
     </label>
     <div class="col-sm-9">
    <input name="test" [(ngModel)]="test" class="form-control" type="text" placeholder="نام کاربری خود را وارد نمایید"> 
</div>
</div>

     
<label>نوع:</label> <select name="Set" [(ngModel)]='Set' class="btn btn-warning w-100 mt-4">
            <option value="">انتخاب کنید</option>
            <option value="فعال" >فعال</option>
            <option value="غیر فعال" >غیر فعال</option>
            <option value="نامحسوس" >نا محسوس</option>
          </select>

          <button class="btn btn-success mt-4" (click)="setData(test,Set)">ساخت حساب</button>
    </form>
    
</div>